.classpath
.project
.settings/
nbproject
target/
build/
tmp/
temp/
.gradle/
.svn/
.metadata/
minified/
osgi/configuration/org.eclipse.osgi/
nb-configuration.xml
nbactions.xml
*~
ua_repo.dat
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
slotsdbdata/
data
.recommenders/
ION7550-console/
ION7550-hldriver/
*.swp