.app-container {
    width: 230px;
    height: 330px;
    margin: 5px;
    border-width: 1px;
    border-style: outset;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px #EEEEEE;
}
.app-container>center>img {
	width: 75px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.ogema-widget .app-filtered {
    display: none;
}